@font-face {
  font-family: "Pretendard";
  font-display: fallback;
  src: url("./Pretendard-Medium.ttf") format("truetype"),
    url("./Pretendard-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
